@font-face {
  font-family: 'acmeregular';
  src: url('fonts/Acme-Regular-webfont.eot');
  src: url('fonts/Acme-Regular-webfont.eot?#iefix') format('embedded-opentype'), url('fonts/Acme-Regular-webfont.woff2') format('woff2'), url('fonts/Acme-Regular-webfont.woff') format('woff'), url('fonts/Acme-Regular-webfont.ttf') format('truetype'), url('fonts/Acme-Regular-webfont.svg#acmeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'intruder_alertregular';
  src: url('Intruder-webfont.eot');
  src: url('Intruder-webfont.eot?#iefix') format('embedded-opentype'), url('Intruder-webfont.woff2') format('woff2'), url('Intruder-webfont.woff') format('woff'), url('Intruder-webfont.ttf') format('truetype'), url('Intruder-webfont.svg#intruder_alertregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;
}

.wrapper {
    padding-left: 12%;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 25px;
    position: relative;
    height: 100%;
}

.me img {
    float: right;
    margin-left: 10px;
}

h1 {
    text-align: center;
    font-family: intruder_alertregular
}

h2 {
  text-decoration: underline;
  font-family: acmeregular;
  color: darkcyan;
}

blockquote {
    text-align: center;
    font-family: acmeregular;
    font-size: 1.3em;
    text-decoration: underline;
    text-shadow: 2px 2px 4px blue;
}

.content {
    margin-top: 70px;
    display: flex;
    flex-direction: row;
}

.lisiere {
    background-color:#324A52;
    width: 10%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

/* RESPONSIVE =============================== */

@media (max-width: 992PX) {

	.lisiere {
		display: none;
	}

	.content {
	    flex-direction: column;
	}

	h1 {
    	text-align: left;
	}

	blockquote {
    	text-align: left;
    	margin-left: 0;

	}

}

@media (max-width: 768PX) {

}

@media (max-width: 556PX) {

	.me img {
	    float: none;
	    display: block;
	    margin: auto;
	}

	h1 {
		text-align: center;
	}

	blockquote {
		text-align: center;
		margin-left: 40px;

	}
